<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile_test_suite">
	<test verbose="1" name="Mraid test IPAD: expand - collapse" annotations="JDK">
		<parameter name="size" value="300x250" />
		<parameter name="device" value="IPAD" />
		<parameter name="format" value="crisp" />
		<parameter name="url" value="testmode=dap_%s_mraid_%s_expand" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandCollapseTest" />
		</classes>
	</test> 

	<test verbose="1" name="Mraid test IPAD: expand - open in internal browser - collapse" annotations="JDK">
		<parameter name="size" value="300x250" />
		<parameter name="device" value="IPAD" />
		<parameter name="format" value="crisp" />	
		<parameter name="browser" value="EXTERNAL" />		
		<parameter name="url" value="testmode=dap_%s_mraid_%s_expand" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandOpenBrowserCollapseTest" />
		</classes>
	</test> 	

	<test verbose="1" name="Mraid test IPAD: expand - open in external browser - collapse" annotations="JDK">
		<parameter name="size" value="300x250" />
		<parameter name="device" value="IPAD" />
		<parameter name="format" value="crisp" />
		<parameter name="browser" value="EXTERNAL" />	
		<parameter name="url" value="testmode=dap_%s_mraid_%s_expand" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandOpenBrowserCollapseTest" />
		</classes>
	</test> 
	<test verbose="1" name="Mraid test IPAD: rotate" annotations="JDK">
		<parameter name="size" value="300x250" />
		<parameter name="device" value="IPAD" />
		<parameter name="format" value="crisp" />
		<parameter name="url" value="testmode=dap_%s_mraid_%s_expand" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.RotateTest" />
		</classes>
	</test> 
	<test verbose="1" name="Mraid test IPAD: expand - rotate" annotations="JDK">
		<parameter name="size" value="300x250" />
		<parameter name="device" value="IPAD" />
		<parameter name="format" value="crisp" />
		<parameter name="url" value="testmode=dap_%s_mraid_%s_expand" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandRotateTest" />
		</classes>
	</test> 
	<test verbose="1" name="Mraid test IPAD:  expand - rotate- collapse" annotations="JDK">
		<parameter name="size" value="300x250" />
		<parameter name="device" value="IPAD" />
		<parameter name="format" value="crisp" />
		<parameter name="url" value="testmode=dap_%s_mraid_%s_expand" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandRotateCollapseTest" />
		</classes>
	</test>
	<test verbose="1" name="Mraid test IPHONE: expand - collapse" annotations="JDK">
		<parameter name="size" value="300x50" />
		<parameter name="device" value="IPHONE" />
		<parameter name="format" value="celtra" />
		<parameter name="url"
			value="http://ad.doubleclick.net/adi/mtv.mtvi/unk_j_s/demo/ad2;sec0=demo;sec1=ad2;testmode=%s_mraid_%s;u=7d8140eb-51c0-39c9-edb5-df6e03102c2a;pos=unk;tag=adi;mtype=standard;sz=%s;tile=1" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandCollapseTest" />
		</classes>
	</test>
	<test verbose="1" name="Mraid test IPHONE: expand - open in internal browser - collapse" annotations="JDK">
		<parameter name="size" value="300x50" />
		<parameter name="device" value="IPHONE" />
		<parameter name="format" value="celtra" />
		<parameter name="browser" value="INTERNAL" />
		<parameter name="url"
			value="http://ad.doubleclick.net/adi/mtv.mtvi/unk_j_s/demo/ad2;sec0=demo;sec1=ad2;testmode=%s_mraid_%s;u=7d8140eb-51c0-39c9-edb5-df6e03102c2a;pos=unk;tag=adi;mtype=standard;sz=%s;tile=1" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandOpenBrowserCollapseTest" />
		</classes>
	</test>
	<test verbose="1" name="Mraid test IPHONE: expand - open in external browser - collapse" annotations="JDK">
		<parameter name="size" value="300x50" />
		<parameter name="device" value="IPHONE" />
		<parameter name="format" value="celtra" />
		<parameter name="browser" value="EXTERNAL" />
		<parameter name="url"
			value="http://ad.doubleclick.net/adi/mtv.mtvi/unk_j_s/demo/ad2;sec0=demo;sec1=ad2;testmode=%s_mraid_%s;u=7d8140eb-51c0-39c9-edb5-df6e03102c2a;pos=unk;tag=adi;mtype=standard;sz=%s;tile=1" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandOpenBrowserCollapseTest" />
		</classes>
	</test>
	<test verbose="1" name="Mraid test IPHONE: rotate" annotations="JDK">
		<parameter name="size" value="300x50" />
		<parameter name="device" value="IPHONE" />
		<parameter name="format" value="celtra" />
		<parameter name="url"
			value="http://ad.doubleclick.net/adi/mtv.mtvi/unk_j_s/demo/ad2;sec0=demo;sec1=ad2;testmode=%s_mraid_%s;u=7d8140eb-51c0-39c9-edb5-df6e03102c2a;pos=unk;tag=adi;mtype=standard;sz=%s;tile=1" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.RotateTest" />
		</classes>
	</test>
	<test verbose="1" name="Mraid test IPHONE: expand - rotate" annotations="JDK">
		<parameter name="size" value="300x50" />
		<parameter name="device" value="IPHONE" />
		<parameter name="format" value="celtra" />
		<parameter name="url"
			value="http://ad.doubleclick.net/adi/mtv.mtvi/unk_j_s/demo/ad2;sec0=demo;sec1=ad2;testmode=%s_mraid_%s;u=7d8140eb-51c0-39c9-edb5-df6e03102c2a;pos=unk;tag=adi;mtype=standard;sz=%s;tile=1" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandRotateTest" />
		</classes>
	</test>
	<test verbose="1" name="Mraid test IPHONE: expand - rotate- collapse" annotations="JDK">
		<parameter name="size" value="300x50" />
		<parameter name="device" value="IPHONE" />
		<parameter name="format" value="celtra" />
		<parameter name="url"
			value="http://ad.doubleclick.net/adi/mtv.mtvi/unk_j_s/demo/ad2;sec0=demo;sec1=ad2;testmode=%s_mraid_%s;u=7d8140eb-51c0-39c9-edb5-df6e03102c2a;pos=unk;tag=adi;mtype=standard;sz=%s;tile=1" />
		<parameter name="mraidFlag" value="MRAID" />
		<classes>
			<class name="tests.adSDK.appiumTests.ExpandRotateCollapseTest" />
		</classes>
	</test>
</suite>
